@import url('styles/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FFFFFF;
    font-family: 'book';
    font-feature-settings: 'liga' 1; /* Enables common ligatures */
}